form(action="/add-nap" method="POST")
  script(src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js")
  .col-9.mx-auto.flex.justify-around
    div
      - const dateTime = new Date;
      - const timeOpts = { hour12: true, hour: "numeric", minute: "2-digit" };
      - const time = dateTime.toLocaleTimeString(timeOpts).replace(/(:\d{2}| [AP]M)$/, "");
      input(
        type="time"
        id="startTime"
        name="startTime"
        required).field
      label(for="startTime").block Start time
    div
      input(
        type="time"
        id="endTime"
        name="endTime"
        required).field
      label(for="endTime").block End time
    div
      input(
        type="date"
        id="date"
        name="date"
        required).field
      label(for="date").block Date
    div
      button(type="submit").btn.rounded.submitBtn Submit nap deets
script.
  // checkInput() via
  // https://stackoverflow.com/a/10199306/2145103
  function checkInput(type) {
    var input = document.createElement("input");
    input.setAttribute("type", type);
    return input.type == type;
  };
  console.log('this browser implements input type="time": ', checkInput('time'))