mixin napForm(nap = {})

  form(action="/api/new-nap" method="POST")
    //- The following creates a formatted time to pre-populate time inputs if so wished in the future
    //- - const dateTime = new Date;
    //- - const timeOpts = { hour12: true, hour: "numeric", minute: "2-digit" };
    //- - const time = dateTime.toLocaleTimeString(timeOpts).replace(/(:\d{2}| [AP]M)$/, "");
    .col-10.sm-col-6.md-col-4.lg-col-12.mx-auto.lg-flex.justify-around
      .mb2.lg-mb0
        input(
          type="time"
          id="startTime"
          name="startTime"
          required).field
        label(for="startTime").block Start time
      .mb2.lg-mb0
        input(
          type="time"
          id="endTime"
          name="endTime"
          required).field
        label(for="endTime").block End time
      .mb2.lg-mb0
        input(
          type="date"
          id="date"
          name="date"
          required).field
        label(for="date").block Date
      .mb2.lg-mb0
        input(
          type="text"
          id="notes"
          name="notes").field
        label(for="notes").block Notes
      div
        button(type="submit").btn.rounded.submitBtn Submit
  script.
    // checkInput() via
    // https://stackoverflow.com/a/10199306/2145103
    function checkInput(type) {
      var input = document.createElement("input");
      input.setAttribute("type", type);
      return input.type == type;
    };
    console.log('this browser implements input type="time": ', checkInput('time'))