mixin napForm(nap = {})

  form(action="/api/new-nap" method="POST")
    //- The following creates a formatted time to pre-populate time inputs if so wished in the future
    //- - const dateTime = new Date;
    //- - const timeOpts = { hour12: true, hour: "numeric", minute: "2-digit" };
    //- - const time = dateTime.toLocaleTimeString(timeOpts).replace(/(:\d{2}| [AP]M)$/, "");
    .col-10.lg-col-12.mx-auto.grid
      section(data-form-section="start").flex.flex-column
        label(for="startTime" id="startTimeLabel").block.order0.lg-order1 Start time
        input(
            type="time"
            id="startTime"
            name="startTime"
            required).field.col-12
      section(data-form-section="end").flex.flex-column
        label(for="endTime" id="endTimeLabel").block.order0.lg-order1 End time
        input(
          type="time"
          id="endTime"
          name="endTime"
          required).field.col-12
      section(data-form-section="date").flex.flex-column
        label(for="date" id="dateLabel").block.order0.lg-order1 Date
        input(
          type="date"
          id="date"
          name="date"
          required).field.col-12
      section(data-form-section="notes").flex.flex-column
        label(for="notes" id="notesLabel").block.order0.lg-order1 Notes
        input(
          type="text"
          id="notes"
          name="notes").field.col-12
      button(type="submit" data-form-section="submit").btn.rounded.submitBtn.submit.justify-self-center.lg-align-self-start Submit
  script.
    // checkInput() via
    // https://stackoverflow.com/a/10199306/2145103
    function checkInput(type) {
      var input = document.createElement("input");
      input.setAttribute("type", type);
      return input.type == type;
    };
    console.log('this browser implements input type="time": ', checkInput('time'))